@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  font-family: "\6E38\30B4\30B7\30C3\30AF\4F53", YuGothic, "\6E38\30B4\30B7\30C3\30AF   Medium", "Yu Gothic Medium", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", sans-serif;
}

body {
  font-size: 1.6rem;
  background: #ffffff;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-weight: 100;
}

p {
  line-height: 1.5;
}

.c-content {
  min-height: calc(100vh - (84px * 2));
}

.c-fukidasi {
  background: orange;
  position: absolute;
  bottom: -130%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 1px 8px -1px rgba(168, 168, 168, 0.95);
}

.c-fukidasi--anime {
  -webkit-animation: fuwafuwa 2s infinite linear alternate;
  animation: fuwafuwa 2s infinite linear alternate;
}

.c-fukidasi::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid orange;
  border-radius: 10%;
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 4px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
  }
}

@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 4px);
            transform: translate(-50%, 4px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.c-btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.8em 1.6em;
  color: #2c4bff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #2c4bff solid;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 1.6rem;
}

.c-btn:hover {
  background: #d3d9fc;
}

.c-btn--primary {
  color: #ffffff;
  background: #2c4bff;
}

.c-btn--primary:hover {
  background: #14247c;
}

.c-btn--square {
  border-radius: 5px;
}

.c-btn--circle {
  border-radius: 50px;
}

.c-select {
  width: 200px;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  touch-action: manipulation;
}

.c-select-wrap {
  display: inline-block;
  position: relative;
}

.c-select-arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 12px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.c-section {
  margin-bottom: 50px;
}

.c-section:last-child {
  margin-bottom: 100px;
}

.c-page-title {
  font-size: 2.2rem;
  border-left: 4px solid #2c4bff;
  padding: 5px 10px;
  margin-bottom: 50px;
}

.p-registtweet__steps-wrapper {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.p-registtweet__steps--link {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.p-registtweet__steps--link-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.p-registtweet__upload-file-area {
  width: 100%;
  height: 200px;
  background: #eeeeee;
  border: 1px dashed #848484;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.p-registtweet__upload-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.p-registtweet__upload-btn {
  width: 100%;
}

.p-registtweet__uploaded-file-area {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #8697fb;
  border-radius: 5px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.p-registtweet__uploaded-file-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 10px 10px 10px;
  width: 100%;
  border-bottom: 1px solid #8697fb;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.c-btn--batu {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  background: #e1e2e3;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.c-btn--batu span::before,
.c-btn--batu span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  width: 70%;
  height: 16%;
  margin: -8% 0 0 -42%;
  background: #1f1f1f;
}

.c-btn--batu span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-btn--batu span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p-tweetlist__inputs {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.p-tweetlist__inputs-item {
  margin-right: 20px;
}

.p-tweetlist__inputs-item:last-child {
  margin-right: 0;
}

.c-fieldset {
  border: groove 2px #ccc;
  position: relative;
}

.c-fieldset-title {
  position: absolute;
  top: -0.5em;
  left: 0.5em;
  font-size: 1em;
  display: inline;
  margin: 0;
  padding: 0 0.5em;
  background-color: #fff;
}

.p-tweetanal__howtolink {
  font-size: 1.2rem;
}

.p-tweetanal__howtolink-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
}

.p-tweetanal__search-box {
  width: 100%;
  padding: 30px;
  border: 1px solid #8697fb;
  border-radius: 5px;
  box-sizing: border-box;
}

.p-tweetanal__search-box__item {
  margin-right: 10px;
  font-size: 1.4rem;
}

.p-tweetanal__search-box__item:last-child {
  margin-right: 0;
}

.p-tweetanal__search-box__item--condition {
  display: inline-block;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #e2e2e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#c1c1c1));
  background: linear-gradient(to bottom, #e2e2e2 0%, #c1c1c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e2e2e2", endColorstr="#c1c1c1",GradientType=0 );
}

.p-tweetanal__search-box__item--condition-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.p-tweetanal__search-box__item--condition-name {
  margin-right: 20px;
}

.p-tweetanal__search-box__group {
  margin-bottom: 30px;
}

.p-tweetanal__search-box__group:last-child {
  margin-bottom: 0;
}

.p-tweetanal__search-box__group--right {
  text-align: right;
}

.c-tweet-table {
  table-layout: fixed;
  display: table;
  width: 100%;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.c-tweet-table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.c-tweet-table__header {
  border-bottom: 3px solid #e1e2e3;
  box-sizing: border-box;
}

.c-tweet-table__col-1 {
  width: 300px;
  box-sizing: border-box;
}

.c-tweet-table__col-2 {
  width: 80px;
  box-sizing: border-box;
}

.c-tweet-table__col-3 {
  width: 40px;
  box-sizing: border-box;
}

.c-tweet-table__row {
  border-bottom: 1px solid #e1e2e3;
}

.c-tweet-table__cell {
  padding: 10px 5px;
  text-align: center;
  line-height: 1.2;
}

.c-tweet-table__cell--left {
  text-align: left;
}

.c-tweet-table__cell--header {
  border-bottom: 1px dashed #8697fb;
}

.c-half-table {
  word-wrap: break-word;
  font-size: 1.2rem;
  width: 100%;
}

.c-half-table-wrapper {
  width: 48%;
  display: inline-block;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.c-half-table-wrapper:nth-child(odd) {
  margin-right: 3%;
}

.c-half-table__header {
  background: #e1e2e3;
}

.c-half-table__row {
  border-bottom: 1px solid #e1e2e3;
}

.c-half-table__cell {
  padding: 10px 5px;
  text-align: center;
  line-height: 1.2;
}

.c-half-table__cell--left {
  text-align: left;
}

.c-half-table__cell--between {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: nowrap;
}

.c-half-table__col-1 {
  width: 80%;
}

.c-half-table__col-2 {
  width: 20%;
}

.piyo {
  display: inline-block;
  margin-right: 5px;
}

.piyo:last-child {
  margin-right: 0;
}

.piyo--disabled {
  pointer-events: none;
  color: #e1e2e3;
}

.c-time-table {
  width: 100%;
}

.c-time-table__cell {
  width: calc(100% / 26);
  border: 1px solid #e1e2e3;
  padding: 5px;
  text-align: center;
}

.c-time-table__cell--title {
  border: none;
}

.c-time-table__cell--primary {
  color: #ff5757;
}

.c-time-table__cell--sum-all {
  background: #fadaf8;
}

.c-time-table__cell--sum-time {
  background: #ecf5fb;
}

.c-time-table__cell--sum-week {
  background: #fbeced;
}

/*ボックス全体*/

.p-switchbox {
  position: relative;
  display: inline-block;
}

.p-switchbox__checkbox {
  display: none;
}

.p-switchbox__label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

/*中身を非表示にしておく*/

.p_switchbox__content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
}

/*クリックで中身を表示*/

.p-switchbox .p-switchbox__checkbox:checked + .p_switchbox__content {
  display: block;
}

.c-float-menu {
  padding: 0;
  top: 0;
  left: 0;
  width: 200px;
  font-size: 14px;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 9px 2px #e0e0e0;
}

.c-float-menu__list {
  list-style: none;
}

.c-float-menu__list--border {
  border-bottom: solid 0.1em #eee;
}

.c-float-menu__list:hover {
  background: #e0e0e0;
}

.c-float-menu__item {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

#footer {
  height: 84px;
  width: 100%;
  min-width: 960px;
  margin-top: 50px;
  box-shadow: 0 -3px 8px -1px rgba(168, 168, 168, 0.95);
  box-sizing: border-box;
}

#header {
  height: 84px;
  width: 100%;
  min-width: 960px;
  margin-bottom: 80px;
  box-shadow: 0 3px 8px -1px rgba(168, 168, 168, 0.95);
  box-sizing: border-box;
}

.c-gnav__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

.c-gnav__item {
  margin-right: 20px;
}

.c-gnav__item:last-child {
  margin-right: 0;
}

.c-gnav__link {
  padding: 10px 0;
  text-decoration: none;
  color: #1d1d1d;
}

.c-gnav__link:hover {
  color: #2c4bff;
  border-bottom: 2px solid #2c4bff;
}

.c-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.c-col {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.c-col-2 {
  -webkit-box-flex: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.c-col-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}

.c-col-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.c-col-5 {
  -webkit-box-flex: 0;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.c-col-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.c-col-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.c-col-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.c-col-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}

.c-col-10 {
  -webkit-box-flex: 0;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.c-col-11 {
  -webkit-box-flex: 0;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.c-col-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .c-col-sm2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.c-site-width {
  width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.p-header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.p-header__twiicon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  border: 2px dashed #444444;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 12px;
}

.p-header__setting-icon {
  font-size: 20px;
}

.p-header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.p-header__twiicon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  border: 2px dashed #444444;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 12px;
}

.p-header__setting-icon {
  font-size: 20px;
}

