@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  font-family: "\6E38\30B4\30B7\30C3\30AF\4F53", YuGothic, "\6E38\30B4\30B7\30C3\30AF   Medium", "Yu Gothic Medium", "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", sans-serif;
}

body {
  font-size: 1.6rem;
  background: #ffffff;
}

#footer {
  height: 84px;
  width: 100%;
  min-width: 940px;
  margin-top: 50px;
  box-shadow: 0 -3px 8px -1px rgba(168, 168, 168, 0.95);
  box-sizing: border-box;
}

#header {
  height: 84px;
  width: 100%;
  min-width: 940px;
  margin-bottom: 50px;
  box-shadow: 0 3px 8px -1px rgba(168, 168, 168, 0.95);
  box-sizing: border-box;
}

.c-gnav__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

.c-gnav__item {
  margin-right: 20px;
}

.c-gnav__item:last-child {
  margin-right: 0;
}

.c-gnav__link {
  padding: 10px 0;
  text-decoration: none;
  color: #1d1d1d;
}

.c-gnav__link:hover {
  color: #2c4bff;
  border-bottom: 2px solid #2c4bff;
}

.c-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.c-col {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.c-col-2 {
  -webkit-box-flex: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.c-col-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}

.c-col-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.c-col-5 {
  -webkit-box-flex: 0;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.c-col-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.c-col-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.c-col-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.c-col-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}

.c-col-10 {
  -webkit-box-flex: 0;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.c-col-11 {
  -webkit-box-flex: 0;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.c-col-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .c-col-sm2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (min-width: 576px) {
  .c-col-sm12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (min-width: 768px) {
  .c-col-md12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media screen and (min-width: 992px) {
  .c-col-lg12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.c-site-width {
  width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.p-header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.p-header__twiicon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  border: 2px dashed #444444;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 12px;
}

.p-header__setting-icon {
  font-size: 20px;
}

.c-fukidasi {
  background: orange;
  position: absolute;
  bottom: -130%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 1px 8px -1px rgba(168, 168, 168, 0.95);
}

.c-fukidasi--anime {
  -webkit-animation: fuwafuwa 2s infinite linear alternate;
  animation: fuwafuwa 2s infinite linear alternate;
}

.c-fukidasi::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid orange;
  border-radius: 10%;
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 4px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
  }
}

@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 4px);
            transform: translate(-50%, 4px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.c-btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.8em 1.6em;
  color: #2c4bff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #2c4bff solid;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.c-btn:hover {
  background: #d3d9fc;
}

.c-btn--primary {
  color: #ffffff;
  background: #2c4bff;
}

.c-btn--primary:hover {
  background: #14247c;
}

.c-btn--square {
  border-radius: 5px;
}

.c-btn--circle {
  border-radius: 50px;
}

.p-header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.p-header__twiicon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  border: 2px dashed #444444;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 12px;
}

.p-header__setting-icon {
  font-size: 20px;
}

.c-fukidasi {
  background: orange;
  position: absolute;
  bottom: -130%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 1px 8px -1px rgba(168, 168, 168, 0.95);
}

.c-fukidasi--anime {
  -webkit-animation: fuwafuwa 2s infinite linear alternate;
  animation: fuwafuwa 2s infinite linear alternate;
}

.c-fukidasi::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid orange;
  border-radius: 10%;
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 4px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
  }
}

@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  50% {
    -webkit-transform: translate(-50%, 4px);
            transform: translate(-50%, 4px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.c-btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.8em 1.6em;
  color: #2c4bff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #2c4bff solid;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.c-btn:hover {
  background: #d3d9fc;
}

.c-btn--primary {
  color: #ffffff;
  background: #2c4bff;
}

.c-btn--primary:hover {
  background: #14247c;
}

.c-btn--square {
  border-radius: 5px;
}

.c-btn--circle {
  border-radius: 50px;
}

