#header {
  height: 84px;
  width: 100%;
  min-width: $site-width;
  margin-bottom: $space-xxl;
  -webkit-box-shadow: 0 3px 8px -1px rgba(168, 168, 168, 0.95);
  -moz-box-shadow: 0 3px 8px -1px rgba(168, 168, 168, 0.95);
  box-shadow: 0 3px 8px -1px rgba(168, 168, 168, 0.95);
  box-sizing: border-box;
}
